# Dependencias
node_modules/

# Salida de compilación de Next.js y exportaciones estáticas
.next/
out/
.techradar/.next/
.techradar/out/
.techradar/hash/

# Archivos generados automáticamente
data/data.json
data/about.json

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos del entorno
.env
